header {
  background-color: black;
  color: white;
}

.toplogo {
  float: left;
  padding: 10px;
  width: 353px;
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 auto;
}

nav {
  float: right;
  font-size: 14px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
}

.dropdown-content {
  background-color: black;
  display: none;
  position: absolute;
  width: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

li {
  display: inline-block;
  padding: 10px 15px;
}

span {
  color: #24baa0;
  font-weight: 900;
}
