.section3 {
  background-color: lightgrey;
}


.underline-section3 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 250px;
}


.cennik {
  margin: 50px 0px 0px 50px;
  & h3 {
    padding: 5px;
    font-size: 20px;
  }
}

.plany > * {
  margin: 25px 0px;
  padding: 10px 1px;
  float: left;
}

.planybox {
  margin: 25px;
}

.advanced-box {
  margin: 0 auto;
}

.basic, .standard, .advanced {
  height: 500px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.14);
  float: left;
  background-color: white;
  margin-top: 15px;
}

.kolko {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(0, 0, 0, 0.14);
  border-radius: 50%;
  position: relative;
  top: -45px;
  margin: 0 auto;
  background-color: white;
  z-index: 100;
}

.malekolko {
  height: 50%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 50%;
  position: relative;
  top: 15px;
  margin: 0 auto;
}

h4 {
  text-align: center;
  color: #27c7ab;
  font-size: 1.5rem;
}

.cenakolko {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.14);
  margin: 20px auto;
}

.cena {
  position: relative;
  top: 25px;
  left: 25px;
  color: grey;
  & > p:nth-child(1) {
    font-size: 2.5rem;
    font-weight: bolder;
    position: relative;
    left: 10px;
  }
  & > p:nth-child(2) {
    font-size: 0.8rem;
    font-weight: lighter;
    position: relative;
    bottom: 50px;
    left: 60px;
  }
  & > p:nth-child(3) {
    position: relative;
    bottom: 10px;
  }
}

.uslugi-box {
  width: 100%;
  color: grey;
  font-size: 1.2rem;
  padding: 10px 0px;
  & > * {
    text-align: center;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  & *:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.button-section3-box{
  display: flex;
  justify-content: center;
}

.button-section3 {
  width: 100px;
  height: 52px;
  border-radius: 10px;
  background-color: #24baa0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 a {
  color: #ffffff;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

@media (min-width: 500px) {
  .plany > * {
    padding: 5px;
  }
}

.activeplan {
  background-color: #24baa0;
  border-color: #24baa0;
  h4 {
    color: white;
  }
  .malekolko {
    background-color: white;
  }
  .cena {
    color: #24baa0;
  }
  .cenakolko {
    background-color: white;
  }
  .button-section3 {
    background-color: white;
    & a {
      color: #24baa0;
    }
  }
  .kolko {
    background-color: #24baa0;
  }
}
